* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-input {
    background-color: transparent;
    border: 0px;
    border-left: white 8.5px solid;
    padding-left: 23px;
    outline: none;
    height: 50px;
}

.todo-input[type=text] {
    color: #00FF00;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.todo-input::placeholder {
    color: #00FF00;
    font-style: italic;
}

.todo-button {
    border-radius: 50px 50px;
    border: none;
    background-color: white;
    height: 40px;
    width: 180px;
    outline: none;
    // transition: background-color 0.5s ease;
}

.todo-button-outline {
    height: 50px;
    width: 190px;
    border: 3px white solid;
    border-radius: 50px 50px;
    padding-top: 2px;
    margin-top: 10px;
}

// .todo-button:hover {
//     background-color: black;
//     color: white;
// }

.todo-item {
    color: #00FF00;
    height: 50px;
    width: 750px;
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    overflow: scroll;
    margin-bottom: 25px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fa-plus-square {
    font-style: normal;
    color: black;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 4px;
    // transition: color white 0.5ease;
    
}

// .fa-plus-square:hover {
//     color: white;
// }

h2 {
    color: white;
    font-weight: 100;
    font-size: 15px;
    padding-top: 10px;
}

.OptionsBox {
    height: 40px;
    width: 65px;
    border: transparent 1px solid;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.CheckImg {
    height: 12px;
    width: 14px;
}

.complete-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    outline: none;

}

.trash-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}

.XImg {
    height: 10px;
    width: 9px;
    padding-bottom: 1px;
    outline: none;
}

.pin-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}

.PinImg {
    height: 11px;
    width: 11px;
    outline: none;
}

.fa-trash {

}

.loggedInfo {
    color: red;
    font-weight: 400;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
}

.loggedWrap {
    height: 50px;
    width: 197.5px;
    border-right: white solid 8.5px ;
    padding: 6px;
    padding-left: 42px;
}

.loggedUser {
    font-weight: 400;
    padding: 0;
    letter-spacing: 1px;
}

.filter-todo {
    border: white 1.5px solid;
    height: 35px;
    width: 150px;
    background-color: transparent;
    color: white;
    outline: none;
    padding: 7px;
}



